{% extends 'map/main.html' %}
{%load static %}
{% block content %}

<div class="container-fluid" id="tabularDataPage">
	<div class="row">
		<div class="col-md-12">
		<!-- Nav tabs -->
			<div class="card">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#Global" class="active" aria-controls="home" role="tab" data-toggle="tab">Global</a></li>
					<li role="presentation"><a href="#National" aria-controls="profile" role="tab" data-toggle="tab">National</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="Global">
						<div class="table-responsive">
							<table id="globalTbl"  class="display" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>Country</th>
										<th>Total Cases</th>
										<th>New Cases</th>
										<th>Total Deaths</th>
										<th>New Deaths</th>
										<th>Total Recovered</th>
										<th>Serious Cases</th>
										<th>Ratio/Million</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="National">
						<table id="nationalTbl" class="table table-bordered table-hover table-condensed stripe">
							<thead>
								<tr>
									<th>City</th>
									<th>Confirmed Cases</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs  > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
	.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
	.tab-pane { padding: 15px 0; }
	.tab-content{padding:20px}

	.card {background: #FFF none repeat scroll 0% 0%; margin-bottom: 30px; }

	
	#tabularDataPage ul li a{
		text-decoration: none !important;
		display: inline-block;
		padding: 20px;
	}
	#tabularDataPage ul li a.active{
		color: #4285F4;
		border-bottom: 2px solid green;
	}
	#tabularDataPage ul li a:hover{
		color: #4285F4;
		border-bottom: 2px solid green;
	}
</style>
<script src="{% static 'js/tabularData.js' %}"></script>

{% endblock %}